.scroll-container {
    /* max-height: 20wh; */
    max-height: 35vh;
    /* Ustaw maksymalną wysokość kontenera */
    overflow-y: auto;
    /* Włącz przewijanie w osi pionowej */
    position: absolute;
    /* top: 41%; */
    border: 1px solid white;
    /* padding: 10px; */
    margin: 0 auto;
    width: 95%;
    /* Ustaw szerokość kontenera */
    background-color: black;
    /* background-color: rgb(75, 0, 0); */
    border-radius: 8px;
}

.scroll-review-list {
    /* max-height: 20wh; */
    max-height: 45vh;
    /* Ustaw maksymalną wysokość kontenera */
    overflow-y: auto;
    /* Włącz przewijanie w osi pionowej */
    position: absolute;
    /* top: 41%; */
    border: 1px solid white;
    /* padding: 10px; */
    margin: 0 auto;
    width: 50%;
    /* Ustaw szerokość kontenera */
    background-color: black;
    /* background-color: rgb(75, 0, 0); */
    border-radius: 8px;
}

.list-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.list-item:last-child {
    border-bottom: none;
}

.list-item:hover {
    background-color: rgb(110, 0, 0);
    /* background-color: #000000; */
    /* Efekt podświetlenia elementu */
    cursor: pointer;
}

.repair-history-container {
    color: red;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ff0000;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #000000;
}

.repair-history-item {
    color: black;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.repair-history-item:last-child {
    border-bottom: none;
}


.stars {
    display: inline-block;
}

.gold-star {
    color: gold;
    font-size: 1.2em;
}

.gray-star {
    color: lightgray;
    font-size: 1.2em;
}

.error-message {
    color: #ddd;
    font-size: 20px;
    /* text-align: center; */
}